/* Стили для контейнера (замените .container на свой класс) */
#webcam {
	display: flex; /* Используем flexbox */
	justify-content: center; /* Центрируем по горизонтали */
	align-items: center; /* Центрируем по вертикали */
	height: 100vh; /* Высота контейнера (на весь экран) */
}

/* Стили для кнопки (замените button на свой селектор) */
#webcam {
	padding: 20px 40px; /* Размер кнопки */
	font-size: 18px; /* Размер шрифта */
	
	color: #ffffff; /* Цвет текста */
	border: none; /* Убираем границу */
	cursor: pointer; /* Добавляем указатель при наведении */
	border-radius: 10px; /* Скругляем углы */
	transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}


/* Стили для видео */
#webcam {
	width: 89%; /* Занимает всю ширину экрана */
	height: 79%; /* Занимает всю высоту экрана */
	object-fit: cover; /* Масштабирует видео, чтобы заполнить контейнер */
}
